<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<header>
<meta charset="utf-8">

    <script src="//d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<!--  <script src="gene_data.js"></script>-->
  <script src="makeTable.js"></script>
    
    
    <script src="box.js"></script>
    <script src="histogram-chart.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="main.js"></script>
    <script src="event.js"></script>
    <script src="small_mode.js"></script>
    <script src=angular_event.js></script>


    </header>
    <body>
    
    <div class="container container1">
        <div class="row">
            <div class="page-header col-md-8">
                <h1>Test Viewer</h1>
            </div>
            <div class="page-header col-md-4 panel panel-default">
                by UW Graphics Lab.
<!--            By Michael Gleicher and Hao Fu <br>Built for the <a href="http://graphics.cs.wisc.edu/WP/vep/">Visualizing English Print Project</a> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse">
                        <h4 class="panel-title pull-left" style="padding-top:8px;">
                            <a data-toggle="collapse" data-target="#instructionsCollapse" id="instruction_title">Instructions
                            </a>
                        </h4>
                        <div class="pull-right">
<!--                            <button class="btn btn-primary" data-toggle="modal" data-target="#faqModal">FAQ</button>-->
                            <button class="btn btn-primary" onclick="alert('Sorry, there is no FAQ yet')">FAQ</button>
                        </div>
                        <div class="modal fade" id="faqModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        FAQ
                                    </div>
                                    <div class="modal-body">
                                        this is a FAQ list
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="instructionsCollapse" class="collapse in panel-collapse">
                       <div class="panel-body">
                        <p>This is a tool to help visualize the features generated by <a href="http://www.cmu.edu/dietrich/english/research/docuscope.html">DocuScope</a>. 
                            <br>
                            You should first click the button below "select file" on the left, and select a file you want to see. 
                            <br>You can sort the plots by the criteria you select, also you can switch between narrow mode and normal mode by clicking the red button.
                            <br>You can also choose the plot you want by clicking the green button.
                        </p>
                        
                        <a id="hideInstruction" style="color:darkgrey;">click Instructions to hide.</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container2" ng-controller="leftCtrl">
        <div class="row">
            <div class="col-md-3" id="left-panel">
               <div class="dropdown">
                   Select file:
                   <br>
                   <button class="btn btn-default dropdown-toggle fileButton" id="FILE" type="button" data-toggle="dropdown"> {{currentFILE}} 
                        <span class="caret"></span> </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="a in files"><a ng-click="getdata(a)">{{a}}</a></li>
                        </ul>
                        
                        
               </div>
                <div class="dropdown">
                    Sorting Criteria: 
                    <br>
                    <div>
                    <button class="btn btn-primary dropdown-toggle" id="sort-criteria" type="button" data-toggle="dropdown"> {{currentCri}} 
                        <span class="caret"></span> </button>

                        <ul class="dropdown-menu" id="meun1">
                            <li ng-repeat="a in criteria"><a ng-click="resort(a)">{{a}}</a></li>
                        </ul>
                    </div>
                </div>
                <input type="checkbox" id="reverse-order" ng-model="reverse_order" ng-click="callReverse()">
                &nbsp; In Descending order
                <br>
                <button class="btn btn-danger" ng-click="toggle_view()">{{viewButton}}</button>
                <br>
                Current Plot:
                <br>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" id="sort-criteria" type="button" data-toggle="dropdown"> {{currentPlot}} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="a in plots"><a ng-click="showPlot(a)">{{a}}</a></li>
                        </ul>
                </div>
                
                <div id="reference"><svg></svg></div>
            </div>
            
            <div class="col-md-9" id="chart-body">
                <div id="small_chart">
                    
                </div>
                <div id="chart">
                    
                </div>
            </div>
            
            <div id="datatable"></div>

        </div>
        </div>
    <script>

    </script>
    <div id="reference">
        <svg></svg>
    </div>
<!--    -->
    </body>
</html>
